.nav{
    display: flex;
    flex-direction: row;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: #12b0c9;
}

.buttons button{
    color: greenyellow;
    background: gray;
}

.searchBar{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.logoutBtn{
    display: flex;
    align-items: center;
    height: 50%;
    margin-left: 5px;
}